@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;600&family=Montserrat:wght@200;400;600&family=Poppins:wght@400;600&family=Roboto+Mono:ital,wght@0,400;0,600;1,200&display=swap");

$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(255, 255, 255);

.container {
  margin-top: -4.9rem;
}

.container-bg {
  position: relative;
  background-image: url("../assets/dancing-smoke2.jpg");
  background-size: cover;
  background-position: center;
  height: 180vh;
  margin: 0;
}

.container-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  position: relative;
}

.container-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-text {
  padding: 10rem 5rem 2rem 5rem;

  h1 {
    font-size: 32px;
    color: $secondary-color;
    text-align: center;
    font-family: "Merienda", cursive;
  }

  p {
    font-size: 18px;
    text-indent: 3em;
    line-height: 35px;
    color: $secondary-color;
    font-family: "Montserrat", sans-serif;
  }
}

.container-why-us {
  h3 {
    color: $secondary-color;

    font-family: "Montserrat", sans-serif;
  }
}

.container-why-us_ul_li {
  color: $secondary-color;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .container-text {
    padding: 10rem 2rem 2rem 2rem;
  }
}
