.container-price-box {
  padding: 10rem 5rem;
}

.span-text {
  font-weight: 600;
  font-family: "Merienda", cursive;
}

.container-price_map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.price-ul li {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}
.container-price_text_title {
  text-align: center;
  font-weight: bold;
  font-family: "Merienda", cursive;
  font-size: 32px;
}

@media (max-width: 768px) {
  .container-price-box {
    padding: 2rem 2rem;
  }
  .container-price_map img {
    width: 300px;
  }
}
