.container-price-box {
  padding: 10rem 5rem;
}

.span-text {
  font-weight: 600;
  font-family: "Merienda", cursive;
}

.container-price_map {
  display: flex;
  justify-content: center;
  align-items: center;
}
