.container-why-us {
  h3 {
    color: black;

    font-family: "Montserrat", sans-serif;
  }
}

.container-why-us_ul_li {
  color: black;
  font-family: "Montserrat", sans-serif;
}
.container-why-us {
  padding: 10rem 5rem;
}
