// nav.scss

$primary-color: rgb(15, 14, 14);
$secondary-color: white;

.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  padding: 1rem 0rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5rem;
}

li {
  text-align: center;
  padding: 10px 0;
  margin: 0px 15px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  color: $secondary-color;
  letter-spacing: 2px;
  transition: color 0.4s ease-in-out, letter-spacing 0.3s ease-in-out;

  &:hover {
    color: $secondary-color;
    letter-spacing: 3px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $secondary-color;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
  }

  &::before {
    top: 0;
    transform-origin: left;
  }

  &::after {
    bottom: 0;
    transform-origin: right;
  }

  &:hover::before,
  &:hover::after {
    transform: scaleX(1); // Expand the border on hover
  }

  width: 80px;
  overflow: hidden;
}
